@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');


/* Basic body styling */
body {
	background-color: #f5e9d7;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	position: relative;
	border: 25px solid #5a9e9e;
	/* Outer teal border */
	box-sizing: border-box;
	/* Ensure border is included in dimensions */
	padding: 20px;
	/* Space between content and border */
}

/* Container for the content */
.content-container {
	text-align: center;
}

/* Title styling */
h1 {
	font-family: Caprasimo, sans-serif;
	font-weight: 400;
	font-size: 9em;
	color: #5a9e9e;
	margin-bottom: 140px;
}

/* Styling for the list of buttons */
.dish-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 70px;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
}

.dish-list li a {
	text-decoration: none;
}


/* Button styling for each dish */
.dish-button {
	background-color: #5a9e9e;
	color: #000;
	font-family: Caprasimo, sans-serif;
	font-weight: 400;
	font-size: 4em;
	padding: 50px 20px;
	width: 450px;
	height: 500px;
	border: 5px solid #333;
	border-radius: 70px;
	cursor: pointer;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	transition: background-color 0.3s, transform 0.2s;
	gap: 10px;
}

/* Image styling for proper sizing */
.dish-button img {
	width: 250px;
	/* Adjust image size */
	height: 250px;
	object-fit: contain;
	/* Ensure image doesn't get distorted */
	margin-bottom: 10px;
	/* Add spacing below the image */
}

/* Styling for the text */
.dish-button span {
	color: #000;
	font-weight: bold
}

/* Button hover effect */
.dish-button:hover {
	background-color: #4b8c8c;
	transform: scale(1.05);
}

/* Back arrow styling */
.back-arrow {
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 2em;
	color: #333;
	text-decoration: none;
}
